body {
   background: rgb(170, 202, 216);
   font-family:'Open Sans', sans-serif;
   width: 100%;
   height: 100%;
   display: block;
   position: relative;
}
#background {
   display: flex;
   justify-content: center;
   align-items: stretch;
   height: 100%;
}
#panel {
   background: white;
   width: 600px;
   height: 700px;
   display: flexbox;
   align-items: center;
   margin: 50px 30px;
   border-radius: 75px 75px 25px 25px;
   box-shadow: 20px 20px 30px rgba(39, 62, 71, 0.534);
   top: 50%; 
   left: 50%;
}
h1 {
   font-size: 40px;
   font-weight: 600;
   letter-spacing: 2px;
   padding-left: 20px;
   color: white;
}
h3 {
   font-size: 20px;
   padding-top: 15px;
}
#title {
   background: #0D3C50;
   border-radius: 25px 25px 0 0;
   padding: 20px;
   text-align: center;
}
#panelBody {
   padding: 20px;
   font-size: 20px;
   line-height: 25px;
}
b {
   font-weight: bold;
}

#submit {
   height: 30px;
   width: 100px;
   font-size: 20px;
   margin: 15px;
   background: #26AAE1;
   border: none;
   color: white;
   font-weight: bold;
}
#eventSelect {
   height: 30px;
   margin-top: 10px;
   width: 275px;
   font-size: 20px;
}
#email {
   margin-top: 10px;
   font-size: 20px;
   height: 30px;
   width: 275px;

}
/* https://www.fontsquirrel.com/fonts/architects-daughter?q%5Bterm%5D=handwritten&q%5Bsearch_check%5D=Y */