

body {
   max-width: 500px;
   margin: 0 auto;
   font-family: 'Open Sans', sans-serif;
   line-height: 1.3;
   font-size: 16px;
}



main {
   margin-bottom: 30px;
   width: 80%;
   max-width: 390px;
   margin: 0 auto;
}


img {
   max-width: 250px;
   display: block;
   margin: 40px auto;
}

button {
   font-weight: bold;
   font-size: 40px;
   background: white;
   border: none;
   margin: 0 auto;
   display: block;
   width: 100%;
}
